@media print {
  .print-hidden {
    display: none !important;
  }

  table .MuiTypography-body1 {
    font-size: 11px !important;
  }

  table td,
  table th {
    padding: 2px 5px !important;
  }
}

body {
  margin: 0;
}
